body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

label, #noMoreMessage {
    color: #143642;
    font-weight: bold;
}

.container-fluid {
    padding: 0px;
}

#title {
    padding: 30px;
    font-weight: bold;
    background-color: #143642;
    color: #f0e8ee;
}

#main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

#searchSection {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

#drugsTable {
    color: #143642;
}

#drugsTable th:nth-child(1), th:nth-child(2), td:nth-child(1), td:nth-child(2) {
    font-weight: bold;
}

#drugsTable th:nth-child(7), td:nth-child(7) {
    color: #dc3545;
}

.spinner-border {
    border-color: #ff7601;
    border-top-color: #c7d2d6;
}

.spinner-message {
    color: #c7d2d6;
}